@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
i,
p,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  widows: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

.mui-off-canvas-left {
  background: #fff;
}

.mui-off-canvas-left .mui-scroll-wrapper {
  padding: 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.mui-scroll {
  width: 100%;
  height: 100%;
  font-size: 0.4rem;
}

.mui-scroll .list {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

.mui-scroll .list dt {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  border-left: solid 0.05333rem yellow;
  padding-left: 0.13333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.48rem;
}

.mui-scroll .list dd {
  margin: 0.21333rem 0;
  width: 100%;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mui-scroll .list dd div {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0.13333rem 0;
}

.mui-scroll .list dd div > p {
  margin: 0.13333rem 0.26667rem;
  padding: 0.21333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 0.53333rem;
}

.mui-scroll .list dd div .addActive {
  border-color: yellow;
}

.mui-scroll .lists {
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  padding: 0 0.26667rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  border-left: solid 0.05333rem yellow;
  padding-left: 0.13333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.mui-scroll .lists > p {
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 0.53333rem;
  margin: 0.13333rem 0.26667rem;
}

.mui-scroll .lists .back {
  background: yellow;
  color: #fff;
}

header {
  width: 100%;
  height: 2.66667rem !important;
  background: yellow !important;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.13333rem 0.4rem !important;
  padding-bottom: 0.32rem !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

header .left p:nth-child(1) {
  font-size: 0.37333rem;
  color: #000;
}

header .left p:nth-child(2) {
  font-size: 0.37333rem;
  color: #000;
  margin: 0.13333rem 0 0.42667rem 0;
}

header .left p:nth-child(2) b {
  font-size: 0.58667rem;
}

header .left p:nth-child(3) {
  font-size: 0.37333rem;
  color: #000;
}

header .left p:nth-child(3) i {
  font-size: 0.42667rem;
}

header .right {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

header .right .se {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

header .right .se p {
  padding: 0 0.21333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.4rem;
  margin: 0 0.13333rem;
  border: solid 1px #000;
  border-radius: 0.26667rem;
}

header .right .se p:nth-child(2) {
  padding-top: 0.08rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

header .right p {
  font-size: 0.37333rem;
  color: #000;
}

header .right p i {
  font-size: 0.42667rem;
}

.mui-content {
  position: absolute;
  bottom: 1.73333rem;
  padding-top: 0 !important;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  top: 2.66667rem;
  z-index: 0;
}

.mui-content .mui-scroll {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

.mui-content .mui-scroll .top {
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 1.33333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  font-size: 0.4rem;
}

.mui-content .mui-scroll .top p {
  color: #000;
}

.mui-content .mui-scroll .top .con {
  width: 2.93333rem;
  height: 0.93333rem;
  border: solid 1px #666;
  border-radius: 1.33333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  overflow: hidden;
}

.mui-content .mui-scroll .top .con p {
  height: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #999;
}

.mui-content .mui-scroll .top .con p.color {
  background: yellow;
  color: #000;
}

.mui-content .mui-scroll .bill {
  width: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.37333rem;
  overflow-y: auto;
}

.mui-content .mui-scroll .bill .mui-table-view {
  width: 100%;
  height: 1.33333rem !important;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right {
  width: 100%;
  height: 1.33333rem !important;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right dl {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right dl dt {
  width: 0.53333rem;
  height: 0.53333rem;
  margin-right: 0.21333rem;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right dl dt img {
  width: 100%;
  height: 100%;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right dl dd {
  font-size: 0.42667rem;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right .cen {
  width: 100%;
  height: 1.33333rem;
  font-size: 0.37333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  margin-right: 1.06667rem;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-navigate-right .cen p {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 0.13333rem;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-collapse-content .wai {
  width: 100%;
  height: 1.6rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #666;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-collapse-content .wai > dt .nei {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-collapse-content .wai > dt .nei > dt {
  width: 1.06667rem;
  height: 1.06667rem;
  margin-right: 0.21333rem;
  border-radius: 100%;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-collapse-content .wai > dt .nei > dt img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-collapse-content .wai > dt .nei > dd {
  font-size: 0.42667rem;
}

.mui-content .mui-scroll .bill .mui-table-view .mui-table-view-cell .mui-collapse-content .wai > dd {
  font-size: 0.48rem;
}

.mui-content .mui-scroll .bill .payColor {
  color: green;
}

.mui-content .mui-scroll .bill .icomeColor {
  color: red;
}

.mui-content .mui-scroll .bill .month {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
}

.mui-content .mui-scroll .bill .month .month-tit {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.mui-content .mui-scroll .bill .month .month-tit dl {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.mui-content .mui-scroll .bill .month .month-tit dl dt {
  width: 0.53333rem;
  height: 0.53333rem;
  margin-right: 0.21333rem;
}

.mui-content .mui-scroll .bill .month .month-tit dl dt img {
  width: 100%;
  height: 100%;
}

.mui-content .mui-scroll .bill .month .month-tit dl dd {
  color: #999;
}

.mui-content .mui-scroll .bill .month .monthes .wai {
  width: 100%;
  height: 1.6rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #666;
}

.mui-content .mui-scroll .bill .month .monthes .wai > dt .nei {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.mui-content .mui-scroll .bill .month .monthes .wai > dt .nei > dt {
  width: 1.06667rem;
  height: 1.06667rem;
  margin-right: 0.21333rem;
  border-radius: 100%;
}

.mui-content .mui-scroll .bill .month .monthes .wai > dt .nei > dt img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.mui-content .mui-scroll .bill .month .monthes .wai > dt .nei > dd {
  font-size: 0.42667rem;
}

.mui-content .mui-scroll .bill .month .monthes .wai > dd {
  font-size: 0.48rem;
}

.mui-content .mui-scroll .chart {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 1.73333rem;
  background: #fff;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

footer > dl {
  height: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

footer > dl > dt {
  width: 0.66667rem;
  height: 0.66667rem;
}

footer > dl > dt > img {
  width: 100%;
  height: 100%ï¼›;
}

footer > dl > dd {
  margin-top: 0.26667rem;
  font-size: 0.4rem;
}

footer .add {
  width: 1.6rem;
  height: 1.6rem;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: -1.06667rem;
  left: 50%;
  margin-left: -0.8rem;
  padding: 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.06667rem;
  text-align: center;
}

footer .add p {
  width: 100%;
  height: 100%;
  background: yellow;
  font-size: 0.74667rem;
  color: #fff;
  border-radius: 100%;
}

.mui-dtpicker {
  z-index: 0 !important;
}
